@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
}

*,
input,
button {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ol,
li {
  list-style: none;
}

img {
  user-select: none;
  -webkit-user-drag: none;

  pointer-events: none;
}

:root {
  font-size: 62.5%;
}
